
.post {
    width: 100%;
    /* width: 680px; */
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
  }
  
  .postWrapper {
    padding: 10px;
  }
  
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  
  .postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }


  .postTopRight{
    cursor: pointer;
  }

  

  .postRight{
    cursor: pointer;
    margin-right: -400px;
  }

  .postRight:hover{
    color: crimson;
  }
  
  .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .postDate{
      font-size: 12px;
  }
  
  .postCenter{
      margin: 20px 0;
  }
  
  .postImg{
      margin-top: 20px;
      width: 100%;
      max-height: 500px;
      object-fit: contain;
  }
  
  .postBottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .postBottomLeft{
      display: flex;
      align-items: center;   
  }

  .postBottomRight{
      display: flex;
      align-items: center;
  }
  
  .likeIcon{
      width: 30px;
      height: 30px;
      margin-right: 5px;
      cursor: pointer;
  }
  
  .postLikeCounter{
      font-size: 15px;
  }

  .commentIcon{
      color: green;
  }
  
  .postCommentText{
      border-bottom: 1px dashed gray;
      font-size: 15px;
      margin-left: 15px;
  }

  .commentIcon{
    cursor: pointer;
  }

  .cmnt-input{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .cmnt-input input{
    outline: none;
    margin-bottom: -1px;
    width: 320px;
    height: 25px;
  }

  .cmnt-input button{
    width: 180px;
  }


  .comment{
    display:  flex;
    justify-content: center;
    align-items: center;
    
  }

  .container {
    max-width: 640px;
    margin: 30px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
  }

  .comment {
    display: block;
    transition: all 1s;
  }
  .commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
  }

  .container textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
  }

  .comment-content{
    margin-bottom: 4px;
    color: rgb(90, 88, 88);
  }

  

  button.primaryContained {
    background: #7170a8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 0.2s all;
    font-size: 10px;
    border-radius: 5px;
  }

  button.primaryContained:hover {
    color: #363649;

  }

  #cmnt{
    /* display: none; */
  }